{% extends 'base.html.twig' %}
{% trans_default_domain 'contact' %}

{% block body %}
    <h2 id="title">{{ 'form.title' | trans }}</h2>
    <div class="container">
    {% form_theme  form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button type="submit" >
        {{ 'form.submit'|trans }}
    </button>
    {{ form_end(form) }}
    </div>
{% endblock %}