{% extends 'base.html.twig' %}

{% block body %}
    <body class="container" style="background-image:url('{{ asset('assets/images/img_0046.jpg') }}')">
        <div id="wrapper" style="height: 500px;">
            <div ID="change" class="container-fluid row justify-content-center vertical-align">
                <div class="col-sm-4">
                    <img src="{{ asset('assets/images/photoperso.jpg') }}" class="img-presentation">
                </div>
                <div class="col-sm-8">
                    <h3>{{ 'index.name' | trans }}</h3>
                    <div id="paragraphe" style="width: 500px;">
                        <p>{{ 'para1.index' | trans }}</p>
                        <p>{{ 'para2.index' | trans }}</p>
                    </div>
                 </div>
            </div>
        </div>

        <div id="content">
            <ul>
                <h3> {{ 'title.listArticles' | trans }}</h3>
                <li>...</li>
            </ul>
        </div>
    </body>
{% endblock %}
{% block time %}
    <time>{{createDate|date("d/m/Y")}}</time>
{% endblock %}
