{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" >
        <time> né le {{birth|date("d/m/Y")}}</time>
        <div>{%   if Permis == 1 %}
            a le Permis B {% endif %}</div>
    </div>
    <div class="tableauformations">
        <h2>Formations</h2>
        <table class="table table-bordered table-responsive">
        <thead class="thead-light">
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Date de Début</th>
            <th scope="col">Date de Fin</th>
            <th scope="col">Descrption</th>
            <th scope="col">Diplome Obtenu</th>
        </tr>
        </thead>
            <tbody>
        {% for forma in Formation1 %}
                <tr>
                    <th scope="row">{{ forma.title }}</th>
                    <td>{{ forma.dateDeb|date("d/m/Y") }}</td>
                    <td>{{ forma.dateFin|date("d/m/Y") }}</td>
                    <td>{{ forma.description }}</td>
                    <td>{{ forma.diplomeObtenu }}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tableauExpe">
        <h2>Expériences Professionelles</h2>
        <table class="table table-bordered table-responsive">
            <thead class="thead-light">
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Date de Début</th>
                <th scope="col">Date de Fin</th>
                <th scope="col">Missions</th>
            </tr>
            </thead>
            <tbody>
            {% for expe in ExpePro %}
                <tr>
                    <th scope="row">{{ expe.title }}</th>
                    <td>{{ expe.dateDeb|date("d/m/Y") }}</td>
                    <td>{{ expe.dateFin|date("d/m/Y") }}</td>
                    <td>{{ expe.mission }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
