{% extends 'base.html.twig' %}
{% trans_default_domain 'cv' %}

{% block body %}
    <div id="wrapper" >
        <time> {{ 'birth.cv' | trans }} {{birth|date("d/m/Y")}}</time>
        <div>{%   if Permis == 1 %}
            {{ 'permis.cv' | trans }} {% endif %}</div>
    </div>
    <div class="tableauformations">
        <h2>{{ 'title.forma.cv' | trans }}</h2>
        <table class="table table-bordered table-responsive">
        <thead class="thead-light">
        <tr>
            <th scope="col">{{ 'title.formation.cv' | trans }}</th>
            <th scope="col">{{ 'dateDeb.formation.cv' | trans }}</th>
            <th scope="col">{{ 'dateFin.formation.cv' | trans }}</th>
            <th scope="col">{{ 'Desc.formation.cv' | trans }}</th>
            <th scope="col">{{ 'DiplObt.formation.cv' | trans }}</th>
        </tr>
        </thead>
            <tbody>
        {% for forma in Formation1 %}
                <tr>
                    <th scope="row">{{ forma.title | trans }}</th>
                    <td>{{ forma.dateDeb|date("d/m/Y") | trans }}</td>
                    <td>{{ forma.dateFin|date("d/m/Y") | trans }}</td>
                    <td>{{ forma.description | trans }}</td>
                    <td>{{ forma.diplomeObtenu | trans}}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tableauExpe">
        <h2>{{ 'title.expePro.cv' | trans }}</h2>
        <table class="table table-bordered table-responsive">
            <thead class="thead-light">
            <tr>
                <th scope="col">{{ 'title.expePross.cv' | trans }}</th>
                <th scope="col">{{ 'dateDeb.expePross.cv' | trans }}</th>
                <th scope="col">{{ 'dateFin.expePross.cv' | trans }}</th>
                <th scope="col">{{ 'missions.expePross.cv' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for expe in ExpePro %}
                <tr>
                    <th scope="row">{{ expe.title | trans }}</th>
                    <td>{{ expe.dateDeb|date("d/m/Y") |trans }}</td>
                    <td>{{ expe.dateFin|date("d/m/Y") |trans }}</td>
                    <td>{{ expe.mission |trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
